[hidden] { display: none !important; }
[contenteditable]:empty:before {content: attr(placeholder);}
[contenteditable]{
    outline: none;
    cursor: text;
}
[contenteditable]::-webkit-scrollbar { width: 7px; }
[contenteditable]::-webkit-scrollbar-thumb { background: #777; }

.listCont::-webkit-scrollbar { width: 7px; }
.listCont::-webkit-scrollbar-thumb { background: #777; }


.container{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    max-width: 1200px;
}
#creator {
    max-width: 500px;
    margin: 20px auto;
    transition: box-shadow .2s, transform cubic-bezier(.19,1.3,.73,1.2) .2s;
}
#creator .header{ display: none; }
#creator .controls{ display: none; }
#creator .listCont{ display: none; }
#creator[data-type='note'] .createTextNote{ font-size: 14px !important; }
#creator[data-type='note'] .createListNote{ display: none; }
#creator[data-type='list'] .createTextNote{ display: none; }
#creator[data-type='list'] .createListNote { display: none; }
#creator[data-type='list'] .listCont{ display: block; }
#creator[data-type] .header{ display: block; }
#creator[data-type] .controls{ display: flex; }
#creator[data-type] ~ * > .no-note{ display: none; }
#creator:hover{ transform: scale(1.08); }

#createBtns {
    width: 100%;
    display: flex;
    align-items: center;
    margin: -10px 0;
}

.createTextNote { font-size: 16px; }
.createListNote {
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}
.createListNote::before {
    content: '\f0ca';
    font-weight: 700;
}
.createListNote:focus {
    outline: none;
    border: 1px solid #007bff4b;
}

.toolbar { margin-left: -12px; }

.toolbarBtn {
    font-family: 'Font Awesome 5 Free';
    border-color:none;
    color: #777;
    cursor: pointer;
    transition: all .2s;
}
.toolbarBtn:hover{
    color: #333;
    transform: translateY(3px);
}
.toolbarBtn[aria-label='time']::before { content: '\f0f3'; }
.toolbarBtn[aria-label='delete']::before { content: '\f2ed'; }

.defaultBtn {
    cursor: pointer;
    font-size: 14px;
}
.add{ margin-right: 5px; }


.notesCont{
    margin: auto;
    max-width: 1080px;
    padding-bottom: 90px;
}

#list{ margin-top: 10px; }
.listCont {
    width: 100%;
    padding: 7px 0;
    max-height: 300px;
    overflow-x: hidden;
}

.listEl {
    width: 97.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1.5px solid transparent;
}
.listEl:hover {
    border-top-color: #ddd;
    border-bottom-color: #ddd;
}
.listEl:not([role='createListEl']):hover .delEl { display: block; }

.checkEl, .delEl{
    font-family: 'Font Awesome 5 Free';
    padding: 5px;
    align-self: flex-start;
}
.checkEl[aria-checked]:hover, .delEl:hover {
    cursor: pointer;
    color: #333;
}

.checkEl[aria-checked='false']::before { content: '\f0c8'; }
.checkEl[aria-checked='true']::before { content: '\f14a'; }
.checkEl:not([aria-checked])::before {
    content: '\f067';
    font-weight: 600;
}
.checkEl[aria-checked='true'] + .textEl { text-decoration: line-through; }

.textEl {
    width: 100%;
    min-width: 0;
    padding: 5px 7px;
}
.textEl[aria-label='list_body']:focus + .delEl { display: block; }

.delEl {
    display: none;
    font-weight: 600;
}
.delEl:before { content: '\f00d'; }

.note {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 8px -2px #bbb;
    padding: 10px 20px;
    outline: none;
    transition: box-shadow .4s;
}
.note:hover{
    box-shadow: 0 0 8px -2px #aaa, 0 8px 8px -6px #aaa;
}


.header {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 5px 0;
}

.controls {
    width: 100%;
    margin-top: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.noteText {
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    padding: 12px 0;
}

.no-note{
    background: transparent;
    position: fixed;
    left: 50%;
    top: 50%;
    text-align: center;
    font-size: 80px;
    transform: translate(-50%, -50%);
}

.no-note::before{
    content: '\f0eb';
    font-family: 'Font Awesome 5 Free';
}

.phrase{
    font-size: 22px;
    margin-top: 10px;
}

#switchMode{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 13px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 8px -2px #bbbb, inset 0 0 2px #bbb;
}
#switchMode:hover{ box-shadow: 0 0 0 #bbb, inset 0 0 2px #bbb; }

.backdrop{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 90;
    transition: background .5s;
}

.created-time{
    align-self: flex-end;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: -10px;
}

.mini[data-state='open']{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    max-height: 80%;
    overflow: none;
    z-index: 100;
}
.mini{
    cursor: pointer;
    overflow: hidden;
    max-height: 170px;
    min-width: 250px;
    max-width: 250px;
    margin: 10px;
}
.mini[data-state='close'] > .listCont::-webkit-scrollbar{ width: 0 !important; }
.mini[data-state='close'] > .noteText::-webkit-scrollbar{ width: 0 !important; }
.mini[data-state='close'] > .controls{
    transition: all cubic-bezier(.19,1.3,.73,1.2) .4s, opacity 1s;
    transform: translateY(50px);
    opacity: 0;
}
.mini[data-state='close'] > .created-time{
    display: none;
}
.mini[data-state='close']:hover .controls{
    transform: translateY(0);
    opacity: 1;
}
.mini[data-state='close'] * > .listEl:hover {
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.mini[data-state='close'] * > .listEl:not([role='createListEl']):hover .delEl { display: none; }
.mini[data-state='close'] .listEl[role='createListEl'] { display: none; }
.mini [contenteditable] { cursor: pointer; }
.mini[data-state='close']:focus {
    border: 4px solid #007bff3f;
}
.mini[data-state='open'] {
    cursor: default;
}
.mini[data-state='open'] [contenteditable]{
    cursor: text;
}


@media screen and (max-width:1200px){
    .notesCont{ max-width: 810px; }
}
@media screen and (max-width:992px){
    .notesCont{ max-width: 540px; }
}
@media screen and (max-width:600px){
    .notesCont{ max-width: 500px; }
    .mini{
        max-width: 500px;
        margin: 10px 0;
    }
}